.MMM-DailyUnreachedPeopleGroup {
    height: auto;
    max-height: auto;
    line-height: 1em;
    text-align: left;
}

.MMM-DailyUnreachedPeopleGroup .xsmall,
.MMM-DailyUnreachedPeopleGroup .default {
    max-width: 50vh;
    margin-bottom: 10px;
}

.MMM-DailyUnreachedPeopleGroup .small {
    font-size: x-large;
    margin-bottom: 10px;
}

.MMM-DailyUnreachedPeopleGroup .medium {
    max-width: 75vh;
    margin-bottom: 10px;
}

.MMM-DailyUnreachedPeopleGroup .large {
    max-width: 100vh;
    margin-bottom: 10px;
}

.MMM-DailyUnreachedPeopleGroup .title {
    font-size: xx-large;
    font-weight: bold;
    line-height: 105%;
    margin-bottom: 20px;
}
